policy_module(sallmon, 1.100.1)

########################################
#
# Declarations
#

type sallmon_t;
type sallmon_exec_t;
init_daemon_domain(sallmon_t, sallmon_exec_t)

permissive sallmon_t;

type sallmon_initrc_exec_t;
init_script_file(sallmon_initrc_exec_t)

type sallmon_conf_t;
files_type(sallmon_conf_t)

type sallmon_var_lib_t;
files_type(sallmon_var_lib_t)

type sallmon_var_run_t;
files_type(sallmon_var_run_t)

type sallmon_port_t;
corenet_port(sallmon_port_t)

########################################
#
# sallmon local policy
#
allow sallmon_t self:process { fork };

allow sallmon_t self:fifo_file rw_fifo_file_perms;
allow sallmon_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(sallmon_t, sallmon_conf_t, sallmon_conf_t)
manage_files_pattern(sallmon_t, sallmon_conf_t, sallmon_conf_t)

manage_dirs_pattern(sallmon_t, sallmon_var_lib_t, sallmon_var_lib_t)
manage_files_pattern(sallmon_t, sallmon_var_lib_t, sallmon_var_lib_t)
files_var_lib_filetrans(sallmon_t, sallmon_var_lib_t, { dir file })

manage_dirs_pattern(sallmon_t, sallmon_var_run_t, sallmon_var_run_t)
manage_files_pattern(sallmon_t, sallmon_var_run_t, sallmon_var_run_t)

sysnet_dns_name_resolve(sallmon_t)
corenet_all_recvfrom_unlabeled(sallmon_t)

allow sallmon_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(sallmon_t)
corenet_tcp_sendrecv_generic_node(sallmon_t)
corenet_tcp_sendrecv_all_ports(sallmon_t)
corenet_tcp_bind_generic_node(sallmon_t)

gen_require(`
    type sallmon_port_t;
')
allow sallmon_t sallmon_port_t:tcp_socket name_bind;

gen_require(`
    type sallmon_port_t;
')
allow sallmon_t sallmon_port_t:tcp_socket name_connect;

domain_use_interactive_fds(sallmon_t)

files_read_etc_files(sallmon_t)

miscfiles_read_localization(sallmon_t)

sysnet_dns_name_resolve(sallmon_t)

allow sallmon_t sallmon_exec_t:file execute_no_trans;
allow sallmon_t self:process setsched;
corecmd_exec_ls(sallmon_t)
corenet_tcp_connect_http_port(sallmon_t)
dev_read_urand(sallmon_t)
fs_getattr_xattr_fs(sallmon_t)
kernel_read_system_state(sallmon_t)
