
## <summary>policy for sallmon</summary>


########################################
## <summary>
##	Transition to sallmon.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sallmon_domtrans',`
	gen_require(`
		type sallmon_t, sallmon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sallmon_exec_t, sallmon_t)
')


########################################
## <summary>
##	Execute sallmon server in the sallmon domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sallmon_initrc_domtrans',`
	gen_require(`
		type sallmon_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sallmon_initrc_exec_t)
')


########################################
## <summary>
##	Search sallmon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sallmon_search_lib',`
	gen_require(`
		type sallmon_var_lib_t;
	')

	allow $1 sallmon_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sallmon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sallmon_read_lib_files',`
	gen_require(`
		type sallmon_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sallmon_var_lib_t, sallmon_var_lib_t)
')

########################################
## <summary>
##	Manage sallmon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sallmon_manage_lib_files',`
	gen_require(`
		type sallmon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sallmon_var_lib_t, sallmon_var_lib_t)
')

########################################
## <summary>
##	Manage sallmon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sallmon_manage_lib_dirs',`
	gen_require(`
		type sallmon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sallmon_var_lib_t, sallmon_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sallmon environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sallmon_admin',`
	gen_require(`
		type sallmon_t;
		type sallmon_initrc_exec_t;
		type sallmon_var_lib_t;
	')

	allow $1 sallmon_t:process { ptrace signal_perms };
	ps_process_pattern($1, sallmon_t)

	sallmon_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sallmon_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sallmon_var_lib_t)

')

